@font-face {
  font-family: 'EBGaramond';
  src: url('src/shared/assets/fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf');,
  src: url('src/shared/assets/fonts/EB_Garamond/EBGaramond-Italic-VariableFont_wght.ttf');,
  font-weight: normal;
  font-style: normal;
}